<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <title> Items / Item List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>

    <form action = "" method="get">
        <input type="text" name="q" value="{{ q }}"/>
        <input type="submit" value="검색"/>
    </form>

    <table class="table table-bordered table-hover">
        <tbody>
            {% for item in item_list %}
            <tr>
                <td>
                    {{item.name}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>